body {
	font-family: 'Zilla Slab', serif;
	line-height: 1.8;
  background-color:#fff;
  color: #1e1e1e;
  margin: 0;
}

.container{
display: flex;
height: 780px;
align-items: stretch;


}
.content, .side-menu, .side-info {
  padding: 5px;
}

header, footer {
  background-color: #E6E6FA;
  padding: 20px 5px;
  text-align: center;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  width: 800px;
  text-align: center;

  
}

.side-menu {
  background-color: #FFE4B5;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.side-info {
  background-color: #dcdcdc;
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}