body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

nav{
	width:200px;
border: 2px solid red;
letter-spacing: 10px;
}

a{
	background: black;
	color: white;
	display: inline-block;
	width: 40px;
}
a:hover{
background: orange;
}