body {
  font-family: 'Space Mono', monospace;
  text-align: center;
  background: darkgrey;
  margin-bottom: 30px;
}
.title {
  background-color: #333;
  color: #ffffff;
  padding: 30px;
  margin: 30px;
}
.box1{
  background-color: #f1c40f;
  padding: 30px;
  margin: 30px;
}
.box2{
  background-color: #e67e22;
  padding: 30px;
  margin: 30px;
}
.box3{
  background-color: #e74c3c;
  padding: 30px;
  margin: 30px;
}

/* 
body background lightgrey;
header background, lorem text #333
lorem-1 background #f1c40f
lorem-2 background #e67e22
lorem-3 background #e74c3c */
