body{
    background-image: linear-gradient(to right, rgba(255,213,190,100), rgba(244,93,93,100));

    max-height: 768px;
}

h1{
    font-family: 'Roboto mono', monospace;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 70px;
    left: 70px;
}

ul{
    list-style: none;
    float: right;
    position: relative;
    top: 65px;
    right: 70px;
}



li{
    font-family: 'roboto mono', monospace;
    font-weight: 400;
    font-size: 16px;
    display: inline;
    padding-right: 15px;

}





#thumb{
    position: relative;
    left: 50px;
    top: 250px;
    
}

img{
    width: 340px;
    padding-left: 10px;

}

a{
    text-decoration: none;
}

footer{
    display: flex;
}

h2{
    font-family: 'Roboto mono', monospace;
    font-weight: 300;
    font-size: 16px;
    position: absolute;
    bottom: 70px;
    left: 70px;
}