.container {
	margin: 0 auto;
	width: 85%;
}

header {
	background-color: black;
	overflow: hidden;
	text-transform: uppercase;
	padding: 10px 0;
}

header h1 {
	font-size: 35px;
	float: left;
	color: white;
}

header nav {
	float: right;
	margin-top: 8px;
}

#small-nav{
	display: none;
	background: orange;
	text-align: center;
}

header nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 50px;
}

#burger {
	float: right;
	display: none;
}

@media(max-width: 840px){
	#burger{
		display: block;
	}

	#large-nav {
		display: none;
	}
}